* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

h1,
h2 {
  margin: 0;
}

#categories {
  width: 440px;
  padding: 24px;
}

.item {
  width: 100%;
  padding: 16px;
  background-color: #f6f6fe;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.item > h2 {
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.item > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item > ul > li {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
}

.gallery {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 100px 156px;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 24) / 3);
}

.gallery-image {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#name-input {
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

#name-input,
#name-input::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.login-form {
  width: 408px;
  height: 256px;
  padding: 24px;
}

.login-form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.08em;
  margin-bottom: 16px;
}

.login-form > label:first-child {
  margin-bottom: 8px;
}

.login-form > label > input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
}

.widget > button,
.login-form > button {
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.widget > p {
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
}
